*.pyc
*models.cpython-35.pyc*.pyc
staticfiles
./db.sqlite3
.idea
@@ -8,6 +7,4 @@ staticfiles
_coverage_results
_static_root

interact_individual_tasks/__pycache__/__init__.cpython-35.pyc

*.pyc

interact_individual_tasks/__pycache__/__init__.cpython-35.pyc

interact_individual_tasks/__pycache__/models.cpython-35.pyc

interact_individual_tasks/__pycache__/views.cpython-35.pyc

interact_individual_tasks/_builtin/__pycache__/__init__.cpython-35.pyc

db.sqlite3

interact_individual_tasks/__pycache__/__init__.cpython-35.pyc

*.pyc

.DS_Store
