{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    General rules
{% endblock %}

{% block content %}

<p> Please switch off your mobile phones now. </p>

<p> From this moment on, no form of communication among participants is allowed. In case
you have a question, please raise your hand and one of us will come to your desk to
answer it.</p>

<p> Also, it is important that you carefully read and follow the instructions. </p>

<p> Please note that your answers will not be connected with any personal information that
we collect from you to process your payment. This means that all your answers and
decisions remain anonymous. In particular, the other task participants will not be able
to link your decisions to you. </p>

<p> Finally, in some decision tasks, you will be shown some pictures of participants who
took part in previous sessions. They agreed to have their pictures and decisions
revealed. </p>

<p><br></p>
    {% next_button %}
{% endblock %}


