{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

Benvenuta/o

{% endblock %}




{% block content %}



<p> Grazie per aver deciso di partecipare a questa ricerca!
</p>

<p> La ricerca è condotta dall’Università Bocconi e finanziata dall’ Unione Europea.
  L’obiettivo è di capire come le persone prendono decisioni economiche. Tutti i partecipanti
  sono residenti nella città di Milano. Per ulteriori informazioni sulla ricerca potete contattare
  la Prof.ssa Delia Baldassarri ed il gruppo di ricerca INTERACT al seguente indirizzo: interact@unibocconi.it</p>

<p>
  Per semplificare la spiegazione delle attività, ti daremo del tu.
</p>

<p> Per la tua partecipazione potrai guadagnare da 8 a 13 punti in funzione delle scelte che farai nelle varie attività che ti proponiamo.
  Nota che non c’è un modo corretto ed uno sbagliato per affrontare queste attività ed il tuo guadagno dipende, in parte,
  dalle scelte di altre persone che interagiscono con te.
</p>

<p> Ci saranno <b> 5 attività </b>. Al termine ti presenteremo un riassunto di
  tutte le decisioni, il tuo guadagno per ogni attività e ne estrarremo alcune per le quali sarai pagato/a.
  Ti consigliamo di <b>affrontare ogni attività con la massima serietà,
    in quanto le tue decisioni in queste attività determinano il tuo compenso finale</b>.
</p>


<p><br></p>

    {% next_button %}
{% endblock %}
