{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}

Istruzioni generali

{% endblock %}

{% block content %}


<p> Ti preghiamo di prestare attenzione. È molto importante che tu legga attentamente le istruzioni.
</p>

<p> L'intera attività durerà tra i 10 ai 20 minuti. <b> Dovrai completare l'intera survey
   in un'unica sessione. Non è possibile chiudere la pagina e poi riprendere da dove vi siete fermati</b>.
</p>

<p> Le tue risposte e decisioni rimarranno completamente anonime.
Questo significa che nè gli altri partecipanti a queste attività nè altre persone
potranno ricondurre a te le decisioni che prenderai. Solo i responsabili della ricerca avranno accesso ai dati,
ed il tuo nome non sarà visibile nemmeno a loro.
</p>

<p> Non ci sono rischi nel partecipare a questo studio. Nel caso tu non voglia rispondere ad una domanda, puoi farlo.
  Molte persone hanno trovato le attività che ti proporremo interessanti e divertenti. </p>


<p><br></p>

    {% next_button %}
{% endblock %}
