{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block styles %}

    <style type="text/css">
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 100%;
    text-align: center;
    }
    </style>

{% endblock %}

{% block title %}
    Pick a number
{% endblock %}

{% block content %}


<p> Before we will show you your results from the activities,
  please pick a number between 1 and 10 and enter it here.
</p>

{% formfield player.dec_picknumber with label=""%}

<p><br></p>

    {% next_button %}



{% endblock %}
