{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Questionario 1
{% endblock %}

{% block content %}

<ul style="list-style-type:disc">
<li> In quale città vivi? {% formfield player.city with label="" %} </li>

<li> Da quanto tempo vivi in questa città? {% formfield player.residencetime with label="" %} </li>

<li> Dove sei nato/a? {% formfield player.id_born with label="" %} </li>

</ul>

<p><br></p>
    {% next_button %}
<p><br></p>

{% endblock %}

{% block scripts %}

<script>

$(function() {
  if($( "#id_born" ).val()==2){
    $( "#id_region" ).show();
  }else{
    $( "#id_region" ).hide();
  }
  $( "#id_born" ).change(function() {
      if($( "#id_born" ).val()==2){
        $( "#id_region" ).show();
      }else{
        $( "#id_region" ).hide();
      }
  });
});

</script>

{% endblock %}
