{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Questionario 1
{% endblock %}

{% block content %}

<ul style="list-style-type:disc">
<li> Da quanti anni vivi a Milano? {% formfield player.years_in_milan with label="" %} </li>

<li> In quale quartiere di Milano vivi? {% formfield player.quartiere with label="" %} </li>

<li> Per quanti anni pensi di rimanere a vivere a Milano? {% formfield player.remain_in_milan with label="" %} </li>

<li> Dove sei nato/a? {% formfield player.id_born with label="" %} </li>

</ul>

<p><br></p>
    {% next_button %}
<p><br></p>

{% endblock %}

{% block scripts %}

<script>

$(function() {
  if($( "#id_born" ).val()==2){
    $( "#id_region" ).show();
  }else{
    $( "#id_region" ).hide();
  }
  $( "#id_born" ).change(function() {
      if($( "#id_born" ).val()==2){
        $( "#id_region" ).show();
      }else{
        $( "#id_region" ).hide();
      }
  });
});

</script>

{% endblock %}
