{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decision task 3A
{% endblock %}

{% block styles %}

<style type="text/css">
table, th, td {
border: 1px solid black;
border-collapse: collapse;
font-size: 100%;
text-align: center;
}

    #wrapper {
        position: relative;
        width: 800px;
        height:500px;
    }

    #top {
        position: relative;
        top: 0;
        width: 100%;
        height: 50%;
        /*background: red;*/
        padding: 2%;
    }

    #centerleft {
        position: absolute;
        float:center;
        left: 0%;
        width: 50%;
        height: 50%;
        padding: 2%;
        /*background: green;*/
    }

    #centerright{
        position: absolute;
        float:center;
        left: 50%;
        width: 50%;
        height: 50%;
        padding: 2%;
        margin-top: 5%;
        /*background: blue;*/
    }


    </style>
{% endblock %}

{% block content %}

<div id="wrapper">

<div id="top">
  <p> Ora faremo la stessa attività con una persona specifica. Le tue opzioni sono riassunte nella tabella.
<details style="font-size: 100%">
    <summary style="outline:none"> <b>Clicca qui se vuoi leggere nuovamente le istruzioni.</b></summary>
    In questa attività sei in coppia con un’altra persona che chiameremo Z. Puoi decidere
    se vuoi partecipare ad un progetto comune con Z. Sia tu che l’altra persona potete
    decidere se partecipare o no. Il tuo guadagno dipende sia dalla tua decisione sia
    dalla decisione dell’altra persona.
    <ul style="font-size: 100%">
      <li> Se entrambi decidete di partecipare, entrambi ricevete {{Constants.cc }} punti.</li>
      <li> Se tu partecipi, e Z non partecipa, tu ricevi {{Constants.cd }} punti
     , mentre B riceve {{Constants.dc}} punti. </li>
      <li> Se tu non partecipi, e Z partecipa, tu ricevi {{Constants.dc }} punti,
          mentre Z riceve {{Constants.cd }} punti. </li>
      <li>Se entrambi decidete di non partecipare, entrambi ricevete {{Constants.dd }} punti.</li>
</ul>
</details>
</p>

<p> In particolare, sei in coppia con {{pd_name1}},
    che vive a Milano, è {% if pd_gen1 == "He" %} nato {% else %} nata {% endif %}
    in {{pd_place1}}, ed ha {{pd_age1}} anni. </p>

<p>Prego, indica <u>cosa pensi {% if pd_gen1 == "He" %} lui {% else %} lei {% endif %}</u> abbia deciso di fare.
  Se indovini, riceverai 5 punti.
<p>  Pensi che {% if pd_gen1 == "He" %} lui {% else %} lei {% endif %} abbia deciso
  di Partecipare o Non partecipare? </p>
{% formfield player.dec_pdguess with label=""%}
</div>

<div id="centerleft">
  <p>Quanto sicuro sei di aver indovinato cosa ha deciso di fare {{pd_name1}}?</p>
  {% formfield player.dec_pdcertain with label=""%}
</div>

<div id="centerright">
 <table class="table-condensed table-hover" style="width:400px; margin-top:0px; text-align: center; font-size: 90%">
     <tr><td><b> Tu </b></td> <td><b> {{pd_name1}} </b> </td> <td> <b>Tu ricevi </b></td> <td><b>{{pd_name1}} riceve</b></td> </tr>
     <tr><td> Partecipare </td> <td> Partecipare </td> <td> {{Constants.cc }} punti </td> <td> {{Constants.cc }} punti </td></tr>
     <tr><td> Partecipare </td> <td> Non partecipare </td> <td> {{Constants.cd }} punto </td> <td> {{Constants.dc }} punti </td></tr>
     <tr><td> Non partecipare </td> <td> Partecipare </td> <td> {{Constants.dc }} punti </td> <td> {{Constants.cd }} punto </td></tr>
     <tr><td> Non partecipare </td> <td> Non partecipare </td> <td> {{Constants.dd }} punti </td> <td> {{Constants.dd }} punti </td></tr>
</table>

</div>
</div>


<p><br></p>
    {% next_button %}
<p><br></p>

{% endblock %}
